.search-container {
  display: block;
  border-bottom-style: solid;
  border-color: rgb(165, 165, 165);
  border-width: thin;
  position: relative;
  background-color: white;
  transition: all .5s;
  overflow: hidden;
  width: 100vw;
  height:500px;
}

.fade {
  opacity: 0;
  height: 10;
  transition: all 2s;

}