.setup-form {
  color: white !important;
  .md-field,
  .mat-form-field,
  .mat-label,
  .mat-form-field-empty, .mat-form-field-label {
    color: white !important;
  }

  .mat-form-field-underline {
    background-color: white !important;
    color: white;
  }

  .mat-form-field-ripple {
    background-color: white !important;
    color: white;
  }

  .mat-input-element {
    background-color: transparent !important;
    height: 25px;
    border-radius: 5px;
    padding: 8px;
  }
}
