.task-list-container {

  .task-list-item:hover {
    background-color: rgba(93, 149, 182, 0.212);
    cursor: pointer;
  }

  .task-header {
    padding-top: 3px;
  }

  .task-project {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    line-height: 0.8em;
  }

  .task-title {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
  }
}
