<div class="section-container" fxLayout="column" fxLayoutAlign="center center">
  <h2>LOOKING FOR ACCESS?</h2>
  <p>Nulla id magna euismod, suscipit mauris et, bibendum nibh. Sed et laoreet nibh, sit amet varius tortor. In
    dapibus tellus quis vestibulum vulputate. Aenean sem tellus, vehicula ac magna quis, consectetur accumsan nulla.
    Cras ut molestie lectus. Sed nulla mauris, ornare non viverra sed, malesuada non odio. Vestibulum ac imperdiet
    nulla. Ut finibus tincidunt justo, eget lacinia nulla auctor dapibus. Nulla finibus, neque vel cursus finibus,
    risus ipsum luctus urna, at convallis neque lectus vestibulum est. Cras iaculis est eu feugiat malesuada. Nullam
    ullamcorper posuere urna, id semper libero vehicula sit amet. Maecenas tincidunt viverra pulvinar.</p>

  <form fxLayout="row wrap" fxLayoutAlign="center center" >
    <mat-form-field class="lg-field">
      <mat-label>Email</mat-label>
      <input matInput type="text">
    </mat-form-field>
    <mat-form-field class="lg-field">
      <mat-label>Company</mat-label>
      <input matInput type="text">
    </mat-form-field>

  </form>
  <button mat-stroked-button style="width:120px">Submit</button>
</div>
