<div id="preload" class="banner-container" fxLayoutAlign="center center">
  <div class="banner-text">
    <h1>HISTORICAL COST REPOSITORY</h1>
    <h2>
      HCI historical cost archive for projects, estimates, and trade labor.
    </h2>

    <button mat-stroked-button style="border-color: white;" routerLink="/auth/projects">
      Browse Projects
    </button>
    <button mat-stroked-button style="border-color: white;" routerLink="/auth/rates">
      Browse Labor Rates
      
    </button>
    <button mat-stroked-button style="border-color: white;" routerLink="/auth/indices">
      Browse Cost Indices
    </button>
  </div>
</div>
