<h2>FILTER:</h2>
<div>
  <mat-form-field class="md-field">
    <mat-label>Keywords</mat-label>
    <input matInput>
  </mat-form-field>
</div>


<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Ratings
    </mat-expansion-panel-header>
    <div>
      <mat-checkbox>
        <div fxLayout="row" fxLayoutAlign="start center">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half"></i> (198 Reviews)
        </div>
      </mat-checkbox>
    </div>
    <div>
      <mat-checkbox>
        <div fxLayout="row" fxLayoutAlign="start center">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i> (22 Reviews)
        </div>
      </mat-checkbox>
    </div>
    <div>
      <mat-checkbox>
        <div fxLayout="row" fxLayoutAlign="start center">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i> (12 Reviews)
        </div>
      </mat-checkbox>
    </div>
    <div>
      <mat-checkbox>
        <div fxLayout="row" fxLayoutAlign="start center">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i> (1 Reviews)
        </div>
      </mat-checkbox>
    </div>
    <div>
      <mat-checkbox>
        <div fxLayout="row" fxLayoutAlign="start center">
          <i class="fas fa-star"></i> (1 Reviews)
        </div>
      </mat-checkbox>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Duration
    </mat-expansion-panel-header>
    <mat-checkbox>Whoa</mat-checkbox>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Topic
    </mat-expansion-panel-header>
    <mat-checkbox>Whoa</mat-checkbox>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Subcategory
    </mat-expansion-panel-header>
    <mat-checkbox>Whoa</mat-checkbox>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Level
    </mat-expansion-panel-header>
    Whoa
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Language
    </mat-expansion-panel-header>
    <mat-checkbox>Whoa</mat-checkbox>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Price
    </mat-expansion-panel-header>
    <mat-checkbox>Whoa</mat-checkbox>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Features
    </mat-expansion-panel-header>
    <mat-checkbox>Whoa</mat-checkbox>
  </mat-expansion-panel>
</mat-accordion>

<mat-divider></mat-divider>
