<div  id="preload" class="page-layout" fxLayout="column">
  <h1>COURSES:</h1>
  <mat-divider></mat-divider>
  <div class="main-container" fxLayout="column">

    <div class="courses-container" fxLayout="row">
      <div class="course-filter-container" fxLayout="column">
        <app-course-filter></app-course-filter>
      </div>
      <div class="courses-list">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle value="bold">Recent</mat-button-toggle>
          <mat-button-toggle value="italic">Popular</mat-button-toggle>
          <mat-button-toggle value="underline">Trending</mat-button-toggle>
        </mat-button-toggle-group>


        <div id="preload" class="course-item" fxlayout="row" style="display: flex; margin:20px;;"
          routerLink="/courses/course/{{course.id}}" *ngFor="let course of courses$ | async">
          <div class="course-image" fxLayout="column">
            <img src="{{course.previewURL}}" class="responsive" height="160px" width="260px">
            <div fxLayout="row" fxLayoutAlign="center center">
              <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
              <i class="fas fa-star"></i> <i class="fas fa-star-half"></i> {{course.rating}} ({{course.reviews}}
              Reviews)

            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
              <p style="font-style:italic;">26hrs, 13 Sections </p>
            </div>
            <div class="instructor-container" fxLayout="row" fxLayoutAlign="start start" style="padding:20px;">
              <button mat-icon-button>
                <img class="team-avatar" src="{{course.instructorAvatar}}" min-width="36px" height="36px">
              </button>
              <span style="width:15px;"></span>
              <p style="font-style:italic;line-height: 36px;margin:0px;">{{course.instructor}} </p>
            </div>
          </div>
          <div class="course-description" fxLayout="column" fxFlex>
            <h3>{{course.title}}</h3>
            <h4>{{course.headline}}</h4>



            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit
              anim id est laborum.</p>


            <div fxLayout="row" fxLayoutAlign="start center">
              <button mat-stroked-button>Enroll</button>
              <button mat-stroked-button>Share</button>
              <button mat-stroked-button> <i class="fal fa-heart"></i> Wishlist </button>
              <mat-chip-list>
                <mat-chip style="font-size: 12px;">Power Systems</mat-chip>
                <mat-chip style="font-size: 12px;">Electrical</mat-chip>
              </mat-chip-list>
            </div>
            <h2>$35.99</h2>

          </div>
        </div>
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" style="border-radius: 25px;">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
