<div class="section-container">


  <h4>COURSES:</h4>
  <ul>
    <li>Alternating Current (AC) Fundamentals</li>
    <li>FAA Part 107 Remote UAS Prep Course</li>
    <li>Modern Networking</li>
    <li>Javascript</li>
    <li>Understanding Typescript</li>
    <li>Typescript Design Patters</li>
    <li>NFPA 70/NEC Fundamentals</li>
    <li>Angular 10 & Material Design</li>
    <li>React</li>
    <li>Power Systems Design: Commercial</li>
    <li>Power BI</li>
    <li>Electrical Systems Estimating</li>
    <li>FPV Quads</li>
    <li>Signals</li>
  </ul>

  <h4>GUIDES:</h4>
  <ul>
    <li>DevOps</li>
    <li>Source Control</li>
  </ul>
</div>
