<div class="wrapper">
  <div id="preload" class="page-layout" fxLayout="column">
    <h1>PROJECTS:</h1>
    <mat-divider style="margin-top: 0px !important;"></mat-divider>
    <div class="main-container" fxLayout="column" fxLayoutAlign="center start">
      <div class="module-container" fxLayout="row wrap">
        <div class="module-filter-container" fxLayout="column">
          <app-project-filter></app-project-filter>
        </div>
        <div fxFlex>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" style="margin-left:20px">
            <mat-button-toggle value="recent">Recent</mat-button-toggle>
            <mat-button-toggle value="popular">Popular</mat-button-toggle>
            <mat-button-toggle value="trending">Trending</mat-button-toggle>
          </mat-button-toggle-group>

          <div class="dashboard-container"  style="padding:20px;">
            <mat-card id="preload" class="project-card" routerLink="/auth/projects/project/{{project.id}}"
              *ngFor="let project of projects$ | async">
              <mat-card-title> {{project.name}}</mat-card-title>
              <img mat-card-image src="{{project.previewURL}}" height="160px">

              <div class="module-description" fxLayout="column">
                <h4>{{project.status}}</h4>
                <h4>{{project.squareFeet}}</h4>
                <div fxLayout="row" fxLayoutAlign="start center">
                  <button mat-stroked-button>
                    <i class="fal fa-heart"></i> Save
                  </button>

                  <mat-chip-list>
                    <mat-chip style="font-size: 12px;">Power Systems</mat-chip>
                    <mat-chip style="font-size: 12px;">Electrical</mat-chip>
                  </mat-chip-list>
                </div>
                <h2>{{project.cost}}</h2>

              </div>
            </mat-card>

            <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
              style="border-radius: 25px;">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
