<div class="wrapper">
  <div id="preload" class="page-layout" fxLayout="column">
    <h1>PROJECTS:</h1>
    <mat-divider style="margin-top: 0px !important;"></mat-divider>
    <div class="main-container" fxLayout="column" fxLayoutAlign="center start">
      <div class="module-container" fxLayout="row wrap">
        <div class="module-filter-container" fxLayout="column">
          <app-project-filter></app-project-filter>
        </div>
        <div fxFlex>

          <mat-button-toggle-group name="fontStyle" style="padding:0px" aria-label="Font Style"
            style="margin-left:20px">
            <mat-button-toggle style="padding:0px" value="recent">Recent</mat-button-toggle>
            <mat-button-toggle value="popular">Popular</mat-button-toggle>
            <mat-button-toggle value="trending">Trending</mat-button-toggle>
          </mat-button-toggle-group>

          <mat-form-field class="lg-field" style="margin-left: 15px;">
            <mat-label>Net Present Value Method</mat-label>
            <mat-select>
              <mat-option>Turner Building Cost Index (TBCI)</mat-option>
              <mat-option>ENR Building Index</mat-option>
              <mat-option>Rider-Levitt Bucknall</mat-option>
              <mat-option>US Consumer Basket Index</mat-option>
              <mat-option>US Gross Domestic Product</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="dashboard-container" style="padding:20px;">

            <mat-card id="preload" class="project-card" routerLink="/auth/projects/project/{{project.id}}"
              fxLayout="column" style="padding:15px !important;overflow:hidden;display:flex"
              *ngFor="let project of projects$ | async">
              <img mat-card-image src="{{project.previewURL}}" height="180px">
              <mat-card-title>
                <h5> {{project.name}} </h5>
              </mat-card-title>
              <mat-card-content style="padding: 15px" fxFlex>
                <mat-chip-list>
                  <mat-chip style="font-size: 12px;">Commercial</mat-chip>
                  <mat-chip style="font-size: 12px;">High-Rise</mat-chip>
                </mat-chip-list>
                <h4>{{project.status}}</h4>
                <h4>{{project.squareFeet}}</h4>
                <mat-card-actions>
                  <button mat-stroked-button>
                    <i class="fal fa-heart"></i> Save
                  </button></mat-card-actions>
              </mat-card-content>

              <mat-card-footer fxLayout="row" fxLayoutAlign="center end"
                style="padding: 15px;height: 36px;  display: flex">
                <div>
                  <h4 style="font-size:18px; font-weight: 500;">
                    {{project.cost}}</h4>
                </div>

              </mat-card-footer>
            </mat-card>


          </div>
          <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
            style="border-radius: 25px;">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
