<div  id="preload" class="page-layout" fxLayout="column">
  <h1>ARTICLES:</h1>
  <mat-divider></mat-divider>
  <div class="main-container" fxLayout="column">
    <div>
      <mat-form-field class="md-field">
        <mat-label>Search</mat-label>
        <input matInput>
      </mat-form-field>
    </div>



    <div class="courses-container">
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>Alternating Current (AC) Fundamentals</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div  id="preload" class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>DC Fundamentals</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>FAA Part 107 Exam Prep</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>Modern Networking</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>Javascript </h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>Power BI</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>Tableau Fundamentals</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>Typescript Design Patterns</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>Angular 10</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>React Fundamentals</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>Understanding Typescript</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>NFPA 70/NEC Essentials</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>FPV Quads</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>Electrical Signals</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>Generators</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>Power Systems Design: Commercial</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>AC Motors</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>Grounding & Bonding</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>

      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>Lighting Design</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>Amplifiers, Rectifiers</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>PCB Design</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>RxJS</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>

      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>Network Cabling</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>Networking Design</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="course-item" fxlayout="row wrap">
        <div class="course-image" fxLayout="column">
          <img
            src="https://c8.alamy.com/comp/M65WP2/an-electrical-distribution-transformer-with-cooling-fins-is-located-M65WP2.jpg"
            width="155px">
        </div>
        <div class="course-description" fxLayout="column">
          <h3>Electrical Systems Design: Residential</h3>
          <h5>Everything you need to know about alternating current.</h5>
        </div>
      </div>
    </div>
  </div>
</div>
