<div class="selector-container" fxLayout="column">
  <mat-form-field style="margin-right: 15px;">
    <mat-label>Select Source</mat-label>
    <mat-select>
      <mat-option>Hollins Consulting, Inc.</mat-option>
      <mat-option>Engineering News and Review (ENR)</mat-option>
      <mat-option>Turner Construction Company</mat-option>
      <mat-option>Rider Levett Bucknall</mat-option>
      <mat-option>Leland Saylor Costs</mat-option>
      <mat-option>RS Means</mat-option>
      <mat-option>National Electrical Contractors Association (NECA)</mat-option>
      <mat-option>Mechanical Contractors Association of America (MCAA)</mat-option>
      <mat-option>US Bureau of Labor Statistics</mat-option>
      <mat-option>US Bureau of Labor Statistics</mat-option>
      <mat-option>Automatic Data Processing, Inc. (ADP)</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select Index</mat-label>
    <mat-select>
      <mat-option>HCI Construction Cost Index</mat-option>
      <mat-option>RS Means Commercial Construction</mat-option>
      <mat-option>ENR Building Cost Index</mat-option>
      <mat-option>Turner Building Cost Index</mat-option>
      <mat-option>Turner Actual Cost Index</mat-option>
      <mat-option>Rider Levett Bucknall Actual Cost Inde</mat-option>
      <mat-option>Mortenson Cost Bureau of Labor Statistics Producer Price Index</mat-option>
      <mat-option>Leland Saylor Costs</mat-option>
      <mat-option>PPI New Nonrsidential Construction</mat-option>
      <mat-option>PPI New Nonrsidential Building Types</mat-option>
      <mat-option>PPI Materials and Supply Inputs to Construction Industries</mat-option>
      <mat-option>RS Means Key Material Cost Updates</mat-option>
      <mat-option>National Highway Construction Cost Index</mat-option>
      <mat-option>IHS Power Plant Cost Indices</mat-option>
      <mat-option>The Bureau of Reclamation Construction Cost Index</mat-option>
      <mat-option>S&P/Case-Shiller National Home Price Index</mat-option>
      <mat-option>Beck BiAnnual Cost Report</mat-option>
      <mat-option>Consumer Price Index</mat-option>
      <mat-option>Jones Lang LaSalle</mat-option>
      <mat-option>ADP Jobs Report</mat-option>
      <mat-option>SF Business Times Lists</mat-option>
      <mat-option>Peuget Sound Business Times</mat-option>
      <mat-option>Los Angeles Business Times</mat-option>
      <mat-option>Sierra West Construction Cost Index</mat-option>
      <mat-option>DGS California Construction Cost Index CCCI</mat-option>
      <mat-option>Vermeulens Construction Cost Index</mat-option>
      <mat-option>New York Building Congress New York City Construction Costs</mat-option>
      <mat-option>U S Army Civil Works Construction Cost Index CWCCIS</mat-option>
      <mat-option>Turner And Townsend International Construction Markets</mat-option>
      <mat-option>US Historical Construction Cost Indices 1800s to 1957</mat-option>
    </mat-select>
  </mat-form-field>
</div>
