<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <mat-table [dataSource]="sources"  matSort class="animate">
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate"></mat-row>
  
    <ng-container matColumnDef="designIssuance">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex> Name </mat-header-cell>
      <mat-cell *matCellDef="let data "> {{ data.designIssuance }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="packages">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Packages </mat-header-cell>
      <mat-cell *matCellDef="let data"> {{ data.packages }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
      <mat-cell *matCellDef="let data"> {{ data.type }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
      <mat-cell *matCellDef="let data"> {{ data.status }} </mat-cell>
    </ng-container>   
    <ng-container matColumnDef="tier">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tier </mat-header-cell>
      <mat-cell *matCellDef="let data"> {{ data.tier }} </mat-cell>
    </ng-container>   
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>