<div id="preload" *ngIf="course">
  <div class="course-cover" fxLayout="column" fxLayoutAlign="center start">
    <h5>Development
      <i class="fal fa-chevron-right" style="color: white;">
      </i>Web Development
      <i class="fal fa-chevron-right" style="color: white;">
      </i>
      React
    </h5>
    <h1>{{course.title}}</h1>
    <h2>{{course.headline}}
    </h2>
    <div fxLayout="row" fxLayoutAlign="start center" style="color: white;">
      <i class="fas fa-star" style="color: yellow !important;font-weight:100;"></i>
      <i class="fas fa-star" style="color: yellow !important;font-weight:100;"></i>
      <i class="fas fa-star" style="color: yellow !important;font-weight:100;"></i>
      <i class="fas fa-star" style="color: yellow !important;font-weight:100;"></i>
      <i class="fas fa-star-half" style="color: yellow !important;font-weight:100;"></i> 4.7 (198 Reviews)
    </div>
    <p style="font-style:italic;color: white;">{{course.hrs}}, 13 Sections </p>
    <div class="instructor-container" fxLayout="row" fxLayoutAlign="center center">
      <button mat-icon-button>
        <img class="team-avatar"
          src="https://firebasestorage.googleapis.com/v0/b/estibase-dev.appspot.com/o/people%2Fcat.jpg?alt=media&token=11b557b7-2962-4361-98aa-a73d7e5377d8"
          min-width="36px" height="36px">
      </button>
      <span style="width:15px;"></span>
      <p style="font-style:italic;line-height: 36px;margin:0px;">{{course.instructor}} </p>

    </div>
    <div fxLayout="row">
      <h3><i class="fal fa-cog"></i> Last updated 6/2019</h3><span></span>
      <h3><i class="fal fa-globe"></i> English</h3><span></span>
      <h3> <i class="fal fa-closed-captioning"></i> English [Original], French [Original], German [Auto]</h3>
    </div>
    <div fxLayout="row">
      <button mat-stroked-button style="color: white; border-color: white">Enroll</button>
      <button mat-stroked-button style="color: white; border-color: white">Share</button>
      <button mat-stroked-button style="color: white; border-color: white">
        <i class="fal fa-heart"></i>
        Wishlist
      </button>
    </div>

  </div>

  <div>
    <div class="course-detail-container" fxFlex="70%">
      <app-course-content></app-course-content>

      <app-also-bought></app-also-bought>

      <app-course-reviews></app-course-reviews>

      <app-featured-review></app-featured-review>

      <app-instructor-bio></app-instructor-bio>
      <img
        src="https://assets.website-files.com/5d9373c8dbd2df27409ba653/5eb0031d153c28391d6ce2f9_checkout-badge-1.svg">
      <app-student-feedback></app-student-feedback>
    </div>

    <div class="course-sidebar-container" fxFlex>
      <app-course-sidebar></app-course-sidebar>
    </div>
  </div>
</div>
