.wrapper {
  background-color: white;
}

.page-layout {
  display: flex;
  flex-grow: 1;
  padding: 20px;
}

.section-container {
  background-color: white;
}

@media screen and (min-width: 600px) {
  .page-layout {
    margin-left: 10%;
    margin-right: 10%;
  }
}
