<div class="app-navbar" fxLayout="row" style="padding-left: 20px;padding-right:20px;">
  <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
    <button mat-icon-button fxShow="true" fxHide fxShow.lt-md>
      <i class="fal fa-bars" style="color:white;margin-top:0px;"></i>
    </button>

    <mat-nav-list fxLayout="row" fxLayoutAlign="center center" style="white-space:nowrap">
      <mat-list-item routerLink="/home">
        <img src="assets/images/white-logo.png" height="22px" style="margin-bottom: 5px;" />
        <h1
          style="color: white;margin-top: 12px; margin-left: 16px;margin-right: 10px; font-size: 20px !important; font-weight: 400;"
          fxShow fxHide.lt-sm>
          COST REPOSITORY
        </h1>
      </mat-list-item>
    </mat-nav-list>

    <mat-nav-list fxLayout="row" style="color: white; font-size: 12px;" fxShow="true" fxShow fxHide.lt-md>
      <mat-list-item routerLink="/projects" style="font-size: 12px !important;">
        PROJECTS
      </mat-list-item>
      <mat-list-item routerLink="/clients" style="font-size: 12px !important;white-space: nowrap;">
        CLIENTS
      </mat-list-item>
      <mat-list-item routerLink="/rates" style="font-size: 12px !important;white-space: nowrap;">
        LABOR RATES
      </mat-list-item>
      <mat-list-item routerLink="/indices" style="font-size: 12px !important;white-space: nowrap;">
        COST INDICES
      </mat-list-item>

      <button mat-icon-button>
        <i class="fal fa-search" style="margin-top: 6px;"></i>
      </button>
    </mat-nav-list>
  </div>
  <div fxLayout="column" fxLayoutAlign="center end" fxFlex>
    <app-icon-menu></app-icon-menu>
  </div>
</div>
