<div class="course-sidebar" fxLayout="column" fxLayoutAlign="start center">
  <img
    src="https://firebasestorage.googleapis.com/v0/b/devmax-66f54.appspot.com/o/video.PNG?alt=media&token=8d21064b-e186-4252-aa33-f7b5a38c9a4d"
    width="400px;">
  <h1>$94.99</h1>
  <button mat-flat-button style="background-color: rgb(252, 98, 98);color: white;width:90%;">
    Add to Cart</button>
  <button mat-stroked-button style="border-color: rgb(92, 133, 221);color: rgb(92, 133, 221);width:90%;">
    Buy Now</button>
  <p>30-Day Money-Back Guarantee</p>
  <div fxLayout="column" fxLayoutAlign="center start" style="width:100%; padding-left:25px">
    <h2>This course includes:</h2>
    <ul>
      <li>14 hours on-demand video</li>
      <li>3 articles</li>
      <li>3 downloadable resources</li>
      <li>Full lifetime access</li>
      <li>Access on mobile and TV/li>
      <li>Certificate of completion</li>
    </ul>
  </div>
  <h4>Apply Coupon</h4>
  <mat-divider> </mat-divider>
  <h3>Training 5 or more people?</h3>
  <p>Get your team access to 4,000+ top DevMax.io courses anytime, anywhere.</p>

  <button mat-stroked-button style="border-color: rgb(92, 133, 221);color: rgb(92, 133, 221);width:90%;">
    Try DevMax.io for Business</button>
</div>
