<ngx-spinner size="medium" color="#FFFFFF" size="large" type="ball-scale-pulse" [fullScreen]="false">
  <p style="color: white;">LOADING...</p>
</ngx-spinner>

<div id='preload'>
  <div class="app-navbar" fxLayout="row" style="padding-left: 20px;padding-right:20px;">
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
      <button mat-icon-button fxShow="true" fxHide fxShow.lt-sm>
        <i class="fal fa-bars" style="color:white;margin-top:6px;"></i>
      </button>
      <mat-nav-list>
        <mat-list-item routerLink="/home">
          <h1 style="margin-top: 12px;color:white;">DevMax.io</h1>
        </mat-list-item>
      </mat-nav-list>
      <mat-nav-list fxLayout="row" style="color: white; font-size: 12px;" fxShow="true" fxShow fxHide.lt-sm>
        <mat-list-item routerLink="/pro" style="font-size: 12px !important;">
          PRO
        </mat-list-item>
        <mat-list-item routerLink="/courses" style="font-size: 12px !important;">
          COURSES
        </mat-list-item>
        <mat-list-item routerLink="/guides" style="font-size: 12px !important;">
          GUIDES
        </mat-list-item>
        <mat-list-item routerLink="/topics" style="font-size: 12px !important;">
          TOPICS
        </mat-list-item>
        <mat-list-item routerLink="/articles" style="font-size: 12px !important;">
          ARTICLES
        </mat-list-item>
        <button mat-icon-button>
          <i class="fal fa-search" style="margin-top: 6px;"></i>
        </button>
      </mat-nav-list>
    </div>
    <div fxLayout="column" fxLayoutAlign="center end" fxFlex>
      <app-icon-menu></app-icon-menu>
    </div>
  </div>


  <div class="home-wrapper" fxFlex>
    <div id="preload" class="main-container" fxLayout="column" style="flex-grow: 1;width: 100vw;">
      <router-outlet></router-outlet>

      <app-footer></app-footer>
    </div>
  </div>
</div>
