<div class="modal-layout">
  <h3 mat-dialog-title>ADD TASK</h3>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <form [formGroup]="addTaskFormGroup">
      <div fxLayout="column">

        <mat-form-field class="md-field">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title">
        </mat-form-field>
        <mat-form-field class="md-field">
          <mat-label>Due Date</mat-label>
          <input matInput formControlName="dueDate" [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="md-field">
          <mat-label>Priority</mat-label>
          <input matInput formControlName="priority">
          <mat-select>
            <mat-option value="Urgent">Urgent</mat-option>
            <mat-option value="High">High</mat-option>
            <mat-option value="Normal">Normal</mat-option>
            <mat-option value="Low">Low</mat-option>
            <mat-option value="Deferred">Deferred</mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field class="md-field">
          <mat-label>Project</mat-label>

          <input matInput formControlName="project">
        </mat-form-field>
      </div>
    </form>
  </div>
  <div fxLayout="row" mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
    <button class="mat-raised-button" (click)="close()">Close</button>
  </div>
</div>
