<h4>Header 4</h4>
<p>
  Viverra aliquet eget sit amet tellus. Ultrices dui sapien eget mi. Elit pellentesque habitant morbi tristique
  senectus. Malesuada fames ac turpis egestas maecenas pharetra. Eget aliquet nibh praesent tristique. Euismod in
  pellentesque massa placerat duis ultricies. Metus vulputate eu scelerisque felis. Netus et malesuada fames ac.
  Amet facilisis magna etiam tempor orci eu lobortis elementum. Pulvinar pellentesque habitant morbi tristique
  senectus et netus. Semper eget duis at tellus at. Aliquet lectus proin nibh nisl condimentum id venenatis a
  condimentum. Sit amet porttitor eget dolor morbi non. Blandit aliquam etiam erat velit scelerisque in dictum.
  Turpis egestas integer eget aliquet nibh praesent tristique. Varius vel pharetra vel turpis nunc. Volutpat est
  velit egestas.
</p>
<div echarts [options]="chartLineOption3" style="height: 235px;"></div>

<h4>Header 4</h4>
<p>
  Viverra aliquet eget sit amet tellus. Ultrices dui sapien eget mi. Elit pellentesque habitant morbi tristique
  senectus. Malesuada fames ac turpis egestas maecenas pharetra. Eget aliquet nibh praesent tristique. Euismod in
  pellentesque massa placerat duis ultricies. Metus vulputate eu scelerisque felis. Netus et malesuada fames ac.
  Amet facilisis magna etiam tempor orci eu lobortis elementum. Pulvinar pellentesque habitant morbi tristique
  senectus et netus. Semper eget duis at tellus at. Aliquet lectus proin nibh nisl condimentum id venenatis a
  condimentum. Sit amet porttitor eget dolor morbi non. Blandit aliquam etiam erat velit scelerisque in dictum.
  Turpis egestas integer eget aliquet nibh praesent tristique. Varius vel pharetra vel turpis nunc. Volutpat est
  velit egestas.
</p>
<div echarts [options]="chartLineOption1" [autoResize]="true" style="height: 235px;"></div>

<h4>Header 4</h4>
<p>
  Viverra aliquet eget sit amet tellus. Ultrices dui sapien eget mi. Elit pellentesque habitant morbi tristique
  senectus. Malesuada fames ac turpis egestas maecenas pharetra. Eget aliquet nibh praesent tristique. Euismod in
  pellentesque massa placerat duis ultricies. Metus vulputate eu scelerisque felis. Netus et malesuada fames ac.
  Amet facilisis magna etiam tempor orci eu lobortis elementum. Pulvinar pellentesque habitant morbi tristique
  senectus et netus. Semper eget duis at tellus at. Aliquet lectus proin nibh nisl condimentum id venenatis a
  condimentum. Sit amet porttitor eget dolor morbi non. Blandit aliquam etiam erat velit scelerisque in dictum.
  Turpis egestas integer eget aliquet nibh praesent tristique. Varius vel pharetra vel turpis nunc. Volutpat est
  velit egestas.
</p>
<div echarts [options]="salesChartBar" [autoResize]="true" style="height: 235px;"></div>
