<h2>FILTER:</h2>
<div>
  <mat-form-field class="md-field">
    <mat-label>Keywords</mat-label>
    <input matInput>
  </mat-form-field>
</div>


<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Language
    </mat-expansion-panel-header>
    <mat-checkbox>Whoa</mat-checkbox>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Price
    </mat-expansion-panel-header>
    <mat-checkbox>Whoa</mat-checkbox>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Features
    </mat-expansion-panel-header>
    <mat-checkbox>Whoa</mat-checkbox>
  </mat-expansion-panel>
</mat-accordion>

<mat-divider></mat-divider>
