<div>
  <mat-form-field class="md-field">
    <mat-label>KEYWORDS</mat-label>
    <input matInput>
  </mat-form-field>
</div>


<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      PROJECT TYPE
    </mat-expansion-panel-header>
    <mat-checkbox>Whoa</mat-checkbox>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      SYSTEMS
    </mat-expansion-panel-header>
    <mat-checkbox>Whoa</mat-checkbox>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      CONTRACTOR
    </mat-expansion-panel-header>
    <mat-checkbox>Whoa</mat-checkbox>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      SIZE
    </mat-expansion-panel-header>
    <mat-checkbox>Whoa</mat-checkbox>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      DATE COMPLETED
    </mat-expansion-panel-header>
    <mat-checkbox>Whoa</mat-checkbox>
  </mat-expansion-panel>
</mat-accordion>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    CONTRACT TYPE
  </mat-expansion-panel-header>
  <mat-checkbox>Whoa</mat-checkbox>
</mat-expansion-panel>

<mat-divider></mat-divider>
