<div class="wrapper">
  <div class="page-layout" fxLayout="column">
    <h1>ACTIVE TASKS</h1>
    <mat-divider></mat-divider>

    <div class="task-list-container" fxLayout="column">
      <div class="task-list-item" fxLayout="row">
        <div class="mark-container" fxLayout="column">
          <button mat-icon-button>
            <i class="far fa-circle fa-1x"></i>
          </button>
        </div>
        <div class="task-container" fxLayout="column" fxFlex>
          <div class="task-header" fxLayout="row" style="padding-top: 3px;">
            <h5 style="font-size: 12px;margin:0px;padding:0px;line-height: 0.8em;">Stanford Block E</h5>
          </div>
          <h2 style="margin:0px;padding:0px; font-size: 16px; ">New Web UI Design Project</h2>
          <div fxLayout="row">
            <h5 style="padding-right:1px"> <i class="fal fa-clock"style="padding-right:4px"></i>10/15/2020</h5>
            <h5 style="padding-right: 15px;"> <i class="fal fa-exclamation"style="padding-right:4px"></i>Urgent</h5>
            <h5> <i class="fal fa-users"style="padding-right:4px"> </i>Members</h5>
          </div>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="task-list-item" fxLayout="row">
        <div class="mark-container" fxLayout="column">
          <button mat-icon-button>
            <i class="far fa-circle fa-1x"></i>
          </button>
        </div>
        <div class="task-container" fxLayout="column" fxFlex>
          <div class="task-header" fxLayout="row" style="padding-top: 3px;">
            <h5 style="font-size: 12px;margin:0px;padding:0px;line-height: 0.8em;">Stanford Block E</h5>
          </div>
          <h2 style="margin:0px;padding:0px; font-size: 16px; ">Complete low-voltage takeoff</h2>
          <div fxLayout="row">
            <h5><i class="fal fa-users"></i>Project</h5>
          </div>
        </div>
      </div>

      <mat-divider></mat-divider>



    </div>
  </div>
</div>
