<div class="course-detail-item">
  <h2 style="font-weight: 700; font-size: 24px;">What you'll learn</h2>

</div>
<h2> Course Content</h2>
<div class="course-content-detail">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Setup React & Concurrently
      </mat-expansion-panel-header>
      <ul>
        <li>Cleanup, Navbar & Router Setup</li>
        <li>Contacts Context & Global State</li>
        <li>Contacts & ContactItem Components</li>
        <li>ContactForm Component</li>
        <li>Delete Contact From UI</li>
        <li>Set & Clear Current Contact</li>
        <li>Edit & Update Contact Action</li>
        <li>Contact Filter Form & State</li>
        <li>Basic Add & Delete Animation</li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Whoa man sup this is cool
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>
