<div class="page-container">
  <div id="preload" class="banner-container" fxLayoutAlign="center center">
    <div class="banner-text">
      <h1>HISTORICAL PROJECT COST ARCHIVE</h1>
      <h2>
        Historical project cost repository for Hollins Consulting!
      </h2>

      <button mat-stroked-button>
        Browse by Client
      </button>
      <button mat-stroked-button>
        👋 Browse by Industry
      </button>
    </div>
  </div>



  <app-stats></app-stats>
  <app-browse-tags></app-browse-tags>
  <app-newsletter></app-newsletter>
  <app-feed></app-feed>
  <app-browse-courses></app-browse-courses>
  <app-reviews></app-reviews>
</div>
