<div class="page-container">
  <div id="preload" class="banner-container" fxLayoutAlign="center center">
    <div class="banner-text">
      <h1>HISTORICAL PROJEECT COST ARCHIVE</h1>
      <h2>
        Learn Modern Engineering & Web Development with DevMax.io!
      </h2>

      <button mat-stroked-button>
        Become a Pro Member
      </button>
      <button mat-stroked-button>
        👋 Browse Courses 
      </button>
    </div>
  </div>



  <app-stats></app-stats>
  <app-browse-tags></app-browse-tags>
  <app-newsletter></app-newsletter>
  <app-feed></app-feed>
  <app-browse-courses></app-browse-courses>
  <app-reviews></app-reviews>
</div>
