<div class="wrapper">
  <div id="preload" class="page-layout" fxLayout="column" *ngIf="project" fxLayoutAlign="start start">
    <div class="project-title-container" fxLayout="column" style="width:100%">
      <div class="title-row" fxLayout="row" style="width:100%">
        <h1 style=" text-transform: uppercase;margin-bottom: 0px !important;">{{project.name}}</h1>
      </div>
      <div class="subtitle-row" fxLayout="row" style="width: 100%;">
        <h4 style=" text-transform: uppercase;">{{project.locationSlug}}</h4>
      </div>
    </div>

    <div fxLayout="row wrap">
      <div fxLayout="column">
        <img src={{project.previewURL}} height="220px">
      </div>
      <div class="info-container" fxLayout="column" style="padding:20px">
        <h5> {{project.squareFeet}} GSF</h5>
        <h5> {{project.type}}</h5>
        <h5> {{project.client}}</h5>
        <h5>{{project.category}}</h5>
        <h5>{{project.structure}}</h5>
        <h5>{{project.status}}</h5>
      </div>
    </div>

    <mat-accordion style="width: 98%;">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          COST TREND
        </mat-expansion-panel-header>
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <div fxLayout="column" style="padding:30px">
            <div style="height:350px;" echarts [options]="chartLineOption3">
            </div>
          </div>
          <div fxLayout="column" style="padding:30px" fxFlex>
            <div style="height:350px;" echarts [options]="salesChartBar" [autoResize]="true">
            </div>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          COST SOURCES
        </mat-expansion-panel-header>
        <app-project-cost-sources></app-project-cost-sources>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          DESIGN PACKAGES
        </mat-expansion-panel-header>
        <app-project-design-packages></app-project-design-packages>
      </mat-expansion-panel>


      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Power_bi_logo_black.svg/1200px-Power_bi_logo_black.svg.png"
            class="responsive" height="20px" width="20px" style="margin-right: 5px;">
          POWER BI DASHBOARD
        </mat-expansion-panel-header>

        <iframe width="100%" height="800"
          src="https://app.powerbi.com/view?r=eyJrIjoiZDQ0YTg4OGYtNWYzYy00ODBhLTlkMjItY2YzNTQ3ODBiZTU0IiwidCI6IjM3ZjhiNGE4LWQzNzgtNGMzNS1iZmIxLWNmZDdjNDZiMWM2NyIsImMiOjZ9&pageName=ReportSection"
          frameborder="0" allowFullScreen="true"></iframe>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          CONTRACTS
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          LOCATION
        </mat-expansion-panel-header>
        <div fxLayout="column" fxLayoutAlign="center" style="padding:20px; width: 50%;" fxFlex>
          <app-project-map></app-project-map>
        </div>
        {{project.address}}
        {{project.city}}
        {{project.state}}
        {{project.zip}}
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          PROJECT MEDIA
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-nav-list class="module-image" fxLayout="row">
        <mat-list-item>
          <img src="https://logowiki.net/wp-content/uploads/imgp/REVIT-Logo-1-8418.png" class="responsive" height="30px"
            width="30px" style="margin: 8px;">VIEW REVIT MODEL
        </mat-list-item>


        <mat-list-item>
          <img
            src="https://images.g2crowd.com/uploads/product/image/large_detail/large_detail_4cf1afcba79428d399cada0516f7f0d5/procore.jpg"
            class="responsive" height="30px" width="30px" style="margin: 8px;"> ACCESS PROCORE
        </mat-list-item>

      </mat-nav-list>
    </mat-accordion>
  </div>




</div>
