<div class="not-found-layout" style="height:80vh;max-width: 100vw;" fxLayout="column" fxLayoutAlign="start center">
  <img src="./../../../../../assets/images/white-logo.png" height="70px" style="padding:50px;margin:0px;" />
  <div class="not-found-content" fxLayout="column" fxLayoutAlign="space-evenly center">
    <h1 style="padding: 55px;">404 </h1>
    <h2>Whoa. This is super weird. </h2>
    <p style="color: white;">We can't find your page... </p>
    <br>
    <div class="download-container" fxLayout="column" fxLayoutAlign="center center" fxShow fxHide.lt-sm>
      <h4 style="color: white">But have you downloaded the app yet?</h4>
      <div class="action-container" fxLayout="row">
        <button mat-raised-button routerLink="/download">
          <i class="fab fa-windows"></i> &nbsp; Download for Desktop
        </button>
        <span style="width: 20px;"></span>
        <button mat-raised-button color="accent" routerLink="/home" (click)="refreshPage">
          Back
        </button>
      </div>
    </div>

    <div class="giphy-logo" style="color: white; position: relative; margin-top: 45px; font-size: 9px;" fxLayout="row"
      fxLayoutAlign="center center">
      Media provided by&nbsp;&nbsp;&nbsp;<img class="giphy-image" src="assets/images/partners/giphy-logo.png"
        height="12px" />
    </div>
  </div>
</div>
